html{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

@media only screen and (max-width: 768px){
    #nav-container{
        background-color: rgb(74, 5, 74);
        display: flex;
        justify-content: space-between;
    }

    #left-side-nav{
        padding: 2rem;
    }

    #right-side-nav{
        padding: 1rem;
    }

    #logo{
        width: 6rem ;
    }
    
    #list-items-container {
        display: none;
    }

    #header{
        background-color: rgb(74, 5, 74);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #header-buttons-container{
        display: flex;
        flex-direction: column;
    }

    #google-button{
        display: flex;
        align-items: center;
    }

   #google-logo{
    width: 2rem;
   }
}


/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
